extends layout

block content
    h1 Sign Up!
    form(action='/users/register' method='POST')
        label(for="login") Username:
        input(id="login" name="login" type="text" required)
        label(for="password") Password:
        input(id="password" name="password" type="password" required)
        input(type="submit" id="button")
